.box-blue {
  padding: 0.9375rem 0.9375rem 0.9375rem 1.5rem;
  margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
  border: 1px solid #eee;
  border-left-width: 0.3125rem;
  border-radius: 0.3125rem 0.1875rem 0.1875rem 0.3125rem;
}
.box-blue {
  background-color: #d1ecff;
  border-left-color: #2980b9;
}

.box-purple {
  padding: 0.9375rem 0.9375rem 0.9375rem 1.5rem;
  margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
  background-color: #f3e6ff;
  text-align: center;
}

/* block quote */
blockquote {
  color: #111111;
  font-style: normal;
  padding: 0.9375rem 0.9375rem 0.9375rem 1rem;
  margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
  border-left-width: 0.3125rem;
  border-left-style: solid;
  border-left-color: #b3b3b3;
}

.blog-post blockquote {
  padding: 0.9375rem 0.9375rem 0.9375rem 1rem;
  margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
  border-left-width: 0.3125rem;
  border-left-style: solid;
  border-left-color: #b3b3b3;
}

/* image and text container */
.imgtext-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff1c0;
}

/* border flex box for compare miserable post */
.flexbox-bord {
  display: flex;
  justify-content: space-between;
}
.flexbox-bord > div {
  flex-basis: content;
  padding: 20px;
  border: 1px solid #a2a2a2; /* Add this line to set the border */
}
.flexbox-bord > div:first-child {
  border-right: 0px solid #000000; /* add background-color in post */
}
  
